@media screen and (max-width: 768px){ /* Adjust layout for smaller screens */
    nav {
        flex-direction: column;
    }
    nav a {
        padding: 10px 20px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    .container {
        padding: 10px;
    }
    .profile-img {
        max-width: 150px;
    }
}

html{
    font-family: Arial, sans-serif;
    letter-spacing: 1px;
    scroll-behavior: smooth;
}
body {
    font-size: 16px;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background-color: #2c4be7;  /* #4CAF50 */
    color: white;
    padding: 10px 0;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #333;
}
nav a {
    width: 100%;
    color: white;
    padding: 12px 0;
    text-decoration: none;
    text-align: center;
}
nav a:hover {
    background-color: #575757;
}
.container {
    padding: 20px;
}
.section {
    margin-bottom: 40px;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}
.programming-language-skills {
    margin-bottom: 20px;
}
.programming-language-skills h3 {
    margin-bottom: 10px;
}
.programming-language-skills ul {
    list-style-type: none;
    padding: 0;
}
.programming-language-skills li {
    margin-bottom: 10px;
}
.profile-img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
    max-width: 200px;
}
.advanced {
    color: forestgreen;
    text-shadow:2px 2px 2px black;
    font-weight:bold;
}
.intermediate {
    color: yellowgreen;
    text-shadow:2px 2px 2px black;
    font-weight:bold;
}
.beginner {
    color: #FFAA00;
    text-shadow:2px 2px 2px black;
    font-weight:bold;
}
.novice {
    color: red;
    text-shadow:2px 2px 2px black;
    font-weight:bold;
}
.work-icon img{
    height: 90px;
}
.tooltip{
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.tooltip .tooltip-text {
    visibility: hidden;
    width: 350px;
    background: #222;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60%;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}
.hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
    position: absolute;
    top: 15px;
    left: 15px;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
    .hamburger-menu{
        display: block;
    }
    nav {
        flex-direction: column;
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: #333;
        z-index: 1000;
    }
    nav a {
        display: block;
        padding: 15px;
        text-align: center;
        border-top: 1px solid #575757;
    }
    nav.show{
        display: flex;
    }
}